/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.frontpage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    /* Start with opacity 1 */
    transform: translateY(0);
    /* Start with no translateY */
    animation: fadeIn 1.5s;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.head {
    display: block;
}

.text1 {
    color: white;
    font-size: 5.4rem;
    padding-right: 3px;
    text-shadow: 0 0 150px rgb(255, 255, 255);
}

.text2 {
    font-size: 5.4rem;
    padding: 0 2px;
    background-color: #f77f00;
    border-radius: 10%;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 150px rgb(255, 85, 0);
}

.arrow {
    position: absolute;
    bottom: 1rem;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.arrow>i {
    text-shadow: 0 0 35px #fe9768;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
}

.stonk {
    opacity: 100;
    position: fixed;
    bottom: 0;
    right: 10%;
}

.fine {
    opacity: 100;
    position: fixed;
    bottom: 0;
    left: 10%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    background-color: rgb(41, 41, 41);
    color: white;
    width: 230px;
    height: 350px;
    border-radius: 11px;
    border: 2px solid #03ce1edf;
    transition: all 0.35s ease-in-out;
}

@media screen and (max-width: 1020px) {
    .card {
        width: 200px;
        height: 300px;
    }

    .card-img-top {
        height: 60%;
    }

    .card-body {
        height: fit-content;
    }
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    height: 70%;
}

.card-body {
    border-radius: 0 0 11px 11px;
    background-color: rgb(41, 41, 41);
    height: fit-content;
}

.card1 {
    transform: translate(15rem, -1.5rem) rotate(-6deg);
    z-index: 1;
}

.card2 {
    transform: translate(0px, -1rem) rotate(-3deg);
    z-index: 3;
}

.card3 {
    transform: translate(-15rem, 0rem) rotate(2deg);
    z-index: 2;
}

.cards:hover .card1 {
    transform: translate(-0.4rem, 0) rotate(-10deg);
    z-index: 2;
}

.cards:hover .card2 {
    transform: translate(0, 0) rotate(0deg);
    z-index: 4;
}

.cards:hover .card3 {
    transform: translate(0.3rem, 0) rotate(10deg);
    z-index: 3;
}

.cards:hover .card:hover {
    box-shadow: 0 0 50px rgb(44, 243, 71);
}

.cards:hover .card1:hover {
    transform: translate(-1rem, 1rem) rotate(-5deg);
    z-index: 4;
}

.cards:hover .card2:hover {
    transform: translate(0, 1rem) rotate(0deg);
}

.cards:hover .card3:hover {
    transform: translate(1rem, 1rem) rotate(5deg);
    z-index: 3;
}