#landing {
  font-family: "Roboto", sans-serif;
}

.landing-title {
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.head1 {
  text-shadow: 0 0 150px rgb(255, 255, 255);
}

.head2 {
  text-shadow: 0 0 150px rgb(255, 85, 0);
}

#landing p {
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 0 0 150px rgb(255, 255, 255);
}

.landing-button {
  text-shadow: 0 0 150px rgb(255, 85, 0);
}